<div class="container text-primary">
    <h2 class="text-center"></h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Leads Data</h2>
                    <app-leads></app-leads>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Enrollments Data</h2>
                    <app-enrollments></app-enrollments>
                </div>
            </div>
        </div>
    </div>
</div>